@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');


:root{

    --fontePadrao: Arial, Helvetica, sans-serif;
    --fontePrincipal: 'Josefin Sans';
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #ffffff;
    font-family: var(--fontePadrao);
}

header{
    background-color: #B8611D;
    padding: 100px 0px 100px 0px;
    font-family: var(--fontePrincipal);
    color: white;
    text-align: center;
    font-size: 2em;
}

header h1{
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.24);
}

nav{
    background-color: #EB7B26;
    padding: 20px;
    margin-bottom: 10px;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

nav a:hover{
    background-color: #bd7641;
    border-radius: 20px;
    text-decoration: underline;
}

main{
    background-color: #ffffff;
    width: 900px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
}

main h1{
    font-family: var(--fontePrincipal);
    font-weight: 600;
    color: rgb(0, 0, 0);
    font-size: 2.5em;
    margin-top: 10px;
}

main h2{
    font-family: var(--fontePrincipal);
    font-size: 2.0em;
    margin: 10px 0px;

}

main p{
    font-family: var(--fontePrincipal);
    font-weight: normal;
    font-size: 1.1em;
    text-align: justify;
    line-height: 1;
    margin: 15px 0px;
}

main img{
    border-radius: 10px;
    width: 800px;
    height: 450px;

    display: block;
    margin: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.288);
}