@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

body{
    background-color: #FF8CCE;
    font-family: 'Roboto', sans-serif;
    width: 800px;
    text-align: center;
    margin: auto;
}

h1 {
    color: rgb(211, 207, 207) 
}

h1#principal {
    text-align: center;
    font-size: 3em;;
    color: rgb(211, 207, 207)
}

p{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.destaque {
    background-color: #2e1321;
}

.basico {
    color: rgb(103, 129, 59);
}

.avancado {
    color: rgba(184, 20, 20, 0.918);
}